{% extends "./base.html" %}

{%block main%}
<div class="row">
    <div id="blog-content" class="col-md-8 col-lg-9">

        <!-- 搜索 -->
        <div class="visible-xs">
            <div class="search">
                <form class="form-inline clearfix" role="form" method="get" action="/search/">
                    <input type="text" class="form-control" id="top-s" name="s">
                    <button class="btn btn-vmaig">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
            </div>
        </div>
        <!-- 关于这里列表 -->
        <div id="home-post-list" >

            <!-- 关于这里列表 -->
            {% if about_list %}
            {% with post_list=about_list %}
            {% for post in post_list %}
                {% include "./include/about_post.html" %}
            {% endfor %}
            {% endwith %}
            {% endif %}

        </div>
    </div>

    <!-- 右边的widgets   -->
    <div id="vmaig-side" class="col-md-4 col-lg-3 hidden-xs">
        {% include "./widgets/tags_cloud.html" %}
        {% include "./widgets/hotest_posts.html" %}
        {% include "./widgets/links.html" %}
        {% include "./comments/latest_comments.html" %}
        {% include "./widgets/me.html" %}
    </div>
</div>
{% endblock %}
